<html>
    <head>
        
        <script src="static/js/jquery-3.3.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
        
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        
    </head>
    
    
    <body>
        <div class="container filecontainer" style="min-height=100% max-width=80%">
<!--            <h2>Load the CSV files</h2>-->
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a> 
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}
            <div class="card mb-4 mt-4 box-shadow">
                <div class="card-header text-center">
                    <h4 class="my-0 font-weight-normal">Load the CSV files</h4>
                </div>
                <div class="card-body">
                    <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data" class="form">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="file" name="file" id="file" class="upload" multiple=""/>
                                <label for="file">Choose a file</label>
                            </div>
                            <div class="col-md-8">
                                <p id="number"></p>
                            </div>
                        </div>
                        <div clas="row">
                            <input type="submit" class="btn btn-default btn-file preupload" id="submit" style="display: none;" disabled/>
                            <label for="submit">Submit</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script type="application/javascript">
            $('#file').change(function(){
                var total = $('#file').get(0).files.length;
                if(total==1)
                    $('#number').html('Selected: <strong>'+$('#file').get(0).files.item(0).name+'</strong>');
                else
                    $('#number').html('<strong>'+total+"</strong> files selected");
                $('.preupload').prop('disabled', false);
                $('.preupload').toggleClass("preupload upload");
            });
       </script>
    </body>
</html>